<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emojimixer" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        tools:replace="supportsRtl"
        android:theme="@style/Theme.Emoji"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".activities.SettingActivity"
            android:exported="false"
   />
        <activity
            android:name=".activities.ResultCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LanguagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ResultActivity"
            android:exported="false"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admob_app_id}" />
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true"/>
    </application>

</manifest>